body,html{
    height: 100%;
    margin: 0;
}
.fundo{
    background-image: url("ambiente1.png.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.fundo img{
    position: absolute;
    left: 400px;
    top: 70px;
}
#botao {
    position: relative;
    left: 570px;
    top: -100px;
    font-size: 50px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(82, 38, 202);
    background-color: black;
    
}
#botao:hover{
    color: red;
    background-color: white;
}
.menu{
    height: 100%;
}
.menu ul{
list-style-type: none;
padding: 0;
text-align:center;
}
.menu ul li{
    display:inline-block;
    position: relative;
    margin-left: 30px;
    margin-bottom: 10px;
}
.menu ul li a{
    background-color: rgb(70, 85, 70);
    text-decoration: none;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color:white;
}
.menu ul li a :hover{
    background-color: rgb(rgb(68, 108, 55);
}
